<% unless @web_accounts.empty? %>
<h4>Web Accounts</h4>
<div class="web-accounts results">
  <%= render :partial => 'shared/table', :locals => { :items => @web_accounts } %>
</div>
<% end %>

<% unless @generic_accounts.empty? %>
<h4>Generic Accounts</h4>
<div class="generic-accounts results">
  <%= render :partial => 'shared/table', :locals => { :items => @generic_accounts } %>
</div>
<% end %>

<% unless @licenses.empty? %>
<h4>Software Licenses</h4>
<div class="licenses results">
  <%= render :partial => 'shared/table', :locals => { :items => @licenses } %>
</div>
<% end %>

<% unless @notes.empty? %>
<h4>Notes</h4>
<div class="notes results">
  <%= render :partial => 'shared/table', :locals => { :items => @notes } %>
</div>
<% end %>
