/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 h3 { position: relative; }

 h3 .btn-danger { margin-left: 10px; }

 h3 .favorite {
   color: #FF50A1;
   font-size: 14px;
   position: absolute;
   top: 3px;
   left: -25px;
   text-decoration: none;
 }

 h3 .favorite:hover {
   text-decoration: none;
 }

 .user-session {
   color: #999;
   margin: 10px 0px;
   text-align: right;
 }

 .user-session .admin {
   color: #ccc;
 }

.licenses th.title, .notes th.title, .groups th.name {
   width: 70%;
 }
 
.results th.title {
  width: 70% !important;
}