<div class='page-header'>
<% if @note.tags.present? %>
  <h2><%= @note.title %> <small><%= @note.tags.join(' ') %></small></h2>
<% else %>
  <h2><%= @note.title %></h2>
<% end %>
</div>

<div class="well">
  <%= @note.body %>
</div>

<hr><button type="submit" class="btn">Edit</button></hr>

