<!DOCTYPE html>
<html>
<head>
  <title>Roswell</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Roswell</h1>

    <%= yield %>
  </div>
</body>
</html>
